@model RM.Unify.Sdk.SampleApp2.ViewModels.PasswordChangeViewModel
<h2>Change Password</h2>
<!-- RMUNIFY -->
@if (RM.Unify.Sdk.SampleApp2.Models.School.Current.IsRmUnifySchool)
{
  <div class="alert alert-warning">
    Login for this school is via RM Unify. 
    Please change your password <a href="https://sts.platform.rmunify.com/Account/ChangePassword" target="_blank">here</a>.
  </div>
}
else
{
<!-- END RMUNIFY -->
  using (Html.BeginForm(null, null, FormMethod.Post, new { Class = "form-horizontal" }))
  {
    @Html.ValidationSummary(true, "Please correct the issues below and click \"Update Password\" again", new { Class = "alert alert-danger" })

    <div class="form-group">
      @Html.LabelFor(model => model.OldPassword, new { Class = "col-md-2" })
      <div class="col-md-4">@Html.TextBoxFor(model => model.OldPassword, new { Class = "form-control" })</div>
      <div class="col-md-6 val">@Html.ValidationMessageFor(model => model.OldPassword)</div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.NewPassword, new { Class = "col-md-2" })
      <div class="col-md-4">@Html.TextBoxFor(model => model.NewPassword, new { Class = "form-control" })</div>
      <div class="col-md-6 val">@Html.ValidationMessageFor(model => model.NewPassword)</div>
    </div>
    <div class="buttons">
      <button class="btn btn-primary">
        Update Password</button>
      @Html.ActionLink("Cancel", "Index", ViewBag.CancelController as string, null, new { Class = "btn btn-default" })
    </div>
  }
}
